body{
  font-family: "Montserrat", sans-serif;
}
#title{
  background-color: #ff4c68;
  color:#fff;
}
#features{
  background-color: white;
  position: relative;
  z-index:1;
}
#testimonial{
  text-align: center;

  background-color: #ef8172;
  color: white;
}
.navbar{
padding:0 0 4.5rem;

}
.nav-item{
padding:0 18px;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.testimonial-image{
width: 10%;
height: 10%;
border-radius: 100%;
margin: 20px auto;


}
.carousel-item{
  padding: 7% 15%;
}
h1{
  font-family: "Montserrat-black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
}
h2{
  font-family: 'Righteous', cursive;
  font-size:3rem;
  line-height: 1.5;
  width:90%;
}
h3{
  font-family: "Montserrat-bold", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;

}

p{

  color:#8f8f8f;
  font-size: 0.95rem;
}

.container-fluid{

padding: 3% 15%;
}
.download-button{
margin: 5% 3% 5% 0;

}


.title-image{
  width:60%;
  transform: rotate(25deg);
  position: absolute;
  z-index:0;
  right:35%;
}
.feature-1{
  text-align: center;
}
.icon{
  color:#ef8172;
margin: 1rem;
}
.icon:hover{
color:#ff4c68;

}
.para-testimonial{
  color: white;
}
.card-header, .card-body {
text-align: center;

}
.pricing-column{
  padding: 3% 2%;
}
#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;




}
#pricing{
padding:100px;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
#cta{
text-align: center;
background-color: #ff4c68;
color: white;
padding-top:5%;

}
.cta-button{
  margin: 5% 5%;

}
/* Pricing */
#footer{
  padding:7% 15%;
text-align: center;

}
.footer-icons{
  margin: 2% 3%;
}
.copyright{
  margin-top: 10px;
}
